
<%
  nb_column = 4

  if comics.size < nb_column
    nb_column=comics.size
  end

  if nb_column == 0
    nb_column = 1
  end
%>

<% comics.each_slice(nb_column).to_a.each do |comics| %>
    <div class="row">

      <% comics.each do |comic| %>
          <div class="col-md-3">
            <%= render partial: 'comics/thumbs', locals: {comic: comic} %>
          </div>
      <% end %>

    </div>
<% end %>

<%= will_paginate comics if paginate %>
