<div class="col-md-6">
  <div class="row">
  <div class="<%= comic.available? ? 'col-md-1' : 'col-md-1 unavailable' %>">
    <% if comic.cover? %>
        <%= image_tag (comic.cover.mini.url)%>
    <% else %>
        <div class="no-picture no-picture-mini">
          <span class="glyphicon glyphicon-question-sign"></span>
        </div>
    <% end %>

  </div>

    <div class="col-md-11">
      <%= link_to comic.title, comic %> <br/>
      <%= display_authors(comic.authors) %>
    </div>

  </div>

  <hr/>
</div>