<div class="thumb">
  <div class="panel panel-default">

    <div class="<%= comic.available? ? 'panel-body' : 'panel-body unavailable' %>">

      <% if comic.cover? %>
          <%= image_tag (comic.cover.small.url), :class => 'img-rounded'%>
      <% else %>
          <div class="no-picture no-picture-small">
            <span class="glyphicon glyphicon-question-sign"></span>
          </div>
      <% end %>

      <!-- Comic title -->
      <h5>
        <%= link_to comic.title, comic_path(comic) %>
      </h5>

      <!-- Authors -->
      <p>
        <%= display_authors(comic.authors) %>
      </p>

    </div>
  </div>
</div>