<% content_for :title, t('helpers.submit.create', model: t('Comic')) %>
<% content_for :navbar_link, 'comics'%>


<div class="page-header">
  <h1><%= t('helpers.submit.create', model: t('Comic')) %></h1>
</div>

<%= render :partial => 'form' %>

