<tr>
  <td><%= loan.item.title %></td>
  <td><%= loan.user.email %></td>
  <td> 
    <% if !loan.returned? %>
    	<%= form_for loan do |f|%>

        <%= f.submit 'Return', :class => 'btn btn-primary' %>
      <% end %>
    <% end %>
  </td>
</tr>