<tr>
  <td><%= loan.item.title %></td>
  <td><%= loan.user.email %></td>
  <td> 
    <% if can? :return, loan %>
    	<%= form_for loan do |f|%>
        <%= f.submit t('Return'), :class => 'btn btn-primary' %>
      <% end %>
    <% end %>
  </td>
</tr>