<!-- Display a dropdown menu with some basic 'edit' and 'logout' links -->
<% content_for :navigation do %>
    <li class="<%= content_for(:navbar_link) == 'loans' ? 'active' : ''%>">
      <%= link_to t('Loans'), loans_path %>
    </li>
<% end %>


<%= render template: 'layouts/registered_user' %>